@model List<SharingListModel>

@foreach (var sharing in Model)
{
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">@sharing.Title</h2>
            <p class="card-text">@sharing.Description</p>
            <a asp-action="Detail" asp-route-id="@sharing.Id" class="btn btn-primary">See Comments</a>
        </div>
        <div class="card-footer text-muted">
            Posted on @sharing.SharingDate.ToLongDateString()
        </div>

    </div>
}

<ul class="pagination justify-content-center mb-4">
    <li class="page-item">
        <a class="page-link" href="#">&larr; Older</a>
    </li>
    <li class="page-item disabled">
        <a class="page-link" href="#">Newer &rarr;</a>
    </li>
</ul>